<div class="container">
  <div class="main_container">
    <div style="height:30px;"class="tabs">
      <div class="tab_top tab_inactive">
        <a href="/main/item">
          판매
        </a>
      </div>
      <div class="tab_top tab_inactive">
        <a href="/main/buy">
          구매
        </a>
      </div>
      <div class="tab_top tab_active">
        <a href="/main/basket">
          장바구니
        </a>
      </div>
    </div>
    <div class="big_white_box" >
      <div class="left_nav">
        <!--
          <div class="left_box left_active">

          </div>
          <div class="left_box left_inactive">

          </div>
        -->
      </div>
      <div class="right_box">
        <div class="right_content">
          <p>장바구니</p>
        <table class="content_table">
          <tr class="first_tr">
            <td style="width:350px;">
              제목
            </td>
            <td style="width:110px;">
              가격
            </td>
            <td style="width:110px;">
              판매자/날짜
            </td>
            <td style="width:75px;">
              삭제
            </td>

          </tr>
          <tr class="odd_col">
            <td>
              <p style="color:#444444;">시계 팔아요 비싼 시계</p>

            </td>
            <td >
              <p style="color:#e97862;">1,500,500원</p>
            </td>
            <td style="text-align:center;" >
              <p style="color:#5e9ba5;">Jinsu Choi</p>
            </td>
            <td style="text-align:center;" >
              <a href="#">
                <img src="/images/delete_btn.png"/>
              </a>
            </td>
          </tr>
          <tr class="even_col">
            <td>


            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
          <tr class="odd_col">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
          <tr class="even_col">
            <td>


            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </table>


        </div>


      </div>
    </div>
  </div>

</div>
