<div class="container">
  <div class="main_container">
  <div class="recent_category">
    <p style="">Home > 패션류/의류 > 여성의류/패션</p>
  </div>
  <div class="view_icon" >
    <a href="/main/list">
      <img src="/images/list_icon.png"/>
    </a>
    <a href="/main/line">
      <img src="/images/line_icon.png"/>
    </a>
    <a href="/main/index">
      <img src="/images/newspid_icon.png"/>
    </a>
  </div>
    <div class="first_row">
      <div class="item_box">
        <div class="item_image">
        </div>
        <a href="/main/view">
          <p>MACBOOK AIR 13" 싸게 팔아요</p>
          <p>1,500,000원</p>

        </a>
      </div>
      <div class="item_box">
      </div>
      <div class="item_box">
      </div>
      <div class="item_box">
      </div>
    </div>
    <div class="second_row">
      <div class="item_box">
      </div>
      <div class="item_box">
      </div>
      <div class="item_box">
      </div>
      <div class="item_box">
      </div>
    </div>
  </div>
</div>
