<div class="container">
  <div class="main_container">
  <div class="recent_category">
    <p style="">Home > 패션류/의류 > 여성의류/패션</p>
  </div>
  <div class="view_icon" >
    <a href="/main/list">
      <img src="/images/list_icon.png"/>
    </a>
    <a href="/main/line">
      <img src="/images/line_icon.png"/>
    </a>
    <a href="/main/index">
      <img src="/images/newspid_icon.png"/>
    </a>
  </div>
    <div class="line_div">
      <table class="line_table">
        <tr>
          <th style="width:640px;">
            제목/지역/가격
          </th>
          <th style="width:140px;">
            작성자
          </th>
          <th style="width:140px;">
            작성일
          </th>
        </tr>
        <%0.upto(10) do |x|%>
          <tr>
            <td>
            라코스테 PK티 팔아요 / 서울 / 20,000
            </td>
            <td>
              Jinsu Choi
            </td>
            <td style="font-size:10px;">
              2013/05/11 오전 7:05
            </td>
          </tr>
        <%end%>
      </table>
    </div>

    </table>

  </div>
</div>
