<div class="container">
  <div class="main_container">
  <div class="recent_category">
    <p style="">Home > 패션류/의류 > 여성의류/패션</p>
  </div>
  <div class="view_icon" >
    <a href="/main/list">
      <img src="/images/list_icon.png"/>
    </a>
    <a href="/main/line">
      <img src="/images/line_icon.png"/>
    </a>
    <a href="/main/index">
      <img src="/images/newspid_icon.png"/>
    </a>
  </div>
    <% 0.upto(5) do |x|%>
    <div class="item_list_box">
      <div class="item_image">
      </div>
      <div class="title_box">
        <a href="/main/view">
          <p class="list_title">라코스테 티 팝니다.</p>
          <p class="list_info">새거입니다. 가격 텍도 그대로 달려있어요~하얀색이고 악어도 귀여워요.
          네고 사절하구요. 
          칼거래하실분 연락주세요.</p>

        </a>
      </div>
      <div class="right_info">
        <a href="#" style="color:#5e9ba5;">Jinsu Choi</a>
        <p style="color:#8e8e8e;">2013/05/11 오전 7:05</p>
        <p style="color:#e97862;">20,000원</p>
      </div>
    </div>

    <%end%>
  </div>
</div>
