<div class="container">
  <div class="main_container">
    <div style="height:30px;"class="tabs">
      <div class="tab_top tab_active">
        <a href="/main/item">
          개인 설정
        </a>
      </div>
    </div>
    <div class="big_white_box" >
      <div class="left_nav">
        <div class="left_box left_active">
          나의 정보

        </div>
        <div class="left_box left_inactive">
          신용도

        </div>
      </div>
      <div class="right_box">
        <div class="right_content">
        <p>나의 정보</p>


        </div>


      </div>
    </div>
  </div>

</div>
