<div class="container">
  <div class="main_container">
    <div class="search_container">
      <div id="search_box">

        <input type="text">
        <img src="/images/search_btn.png"/>

      </div>
      <div class="detail_search"><img src="/images/pink_plus.png"/>상세검색</div>
      <div class="detail_box">
        

      </div>

    </div>
  </div>
</div>


