<div class="container">
  <div class="main_container">
    <div style="height:30px;"class="tabs">
      <a style="color:#807f7f; font-size:14px;">Home > 패션류/의류 > 여성의류/패션</a>
    </div>
    <div class="big_white_box radius_left" >
      <div class="left_profile_container">
        <div style="width:190px; height:130px; border-bottom:1px solid #9a9a9a;margin:0 auto;">
          <div style="float:left; width:80px; height:85px;">
            <div style="width:80px; height:80px; background-color:grey;">
            </div>
            <img src="/images/facebook_icon.png" style="margin-top:10px;"/>
             
          </div>
          <div style="float:left;margin-left:5px;">
            <a style="color:#4083a9; padding-top:5px; padding-bottom:5px;">이예슬</a>
            <table style="font-size:12px;">
              <tr>
                <td style="color:#4083a9;">
                  성별
                </td>
                <td>
                  여자
                </td>
              </tr>
              <tr>
                <td style="color:#4083a9;">
                  나이
                </td>
                <td>
                  25~30
                </td>
              </tr>
              <tr>
                <td style="color:#4083a9;">
                  페이스북<br>친구
                </td>
                <td>
                  502명
                </td>
              </tr>
            </table>
          </div>
        </div>


        <div style="width:190px; margin:0 auto; margin-top:15px;">
          <table>
            <tr>
              <td style="height:35px;">
                <a style="font-size:12px; color:#4083a9;">판매거래</a>
              </td>
              <td>
                <a style="color:#e97862; font-size:14px; ">
                <img src="/images/good_icon.png"/>
                103</a>
              </td>
              <td>
                <a style="color:#8e8e8e; font-size:14px;">
                <img src="/images/bad_icon.png"/>
                103</a>
              </td>
            </tr>
            <tr>
              <td style="height:35px; width:70px;"> 
                <a style="font-size:12px; color:#4083a9;">구매거래</a>
              </td>
              <td>
                <a style="color:#e97862;font-size:14px;">
                <img src="/images/good_icon.png"/>
                103</a>
              </td>
              <td>
                <a style="color:#8e8e8e; font-size:14px;">
                <img src="/images/bad_icon.png"/>
                103</a>
              </td>
            </tr>
          </table>

        </div>
        <div style="margin:0 auto; width:180px; background-color:#e8e8e7; height:255px; border-radius:5px;margin-top:10px;">
        </div>


      </div>
      <div class="item_right_box">
        <div class="item_picture_box">
          <div style="background-color:#e9678d; width:420px; height:310px;">
          </div>

        </div>
        <div class="item_content">
          <table class="item_right_table">
            <tr>
              <td>
                등록날짜
              </td>
              <td>
                2013/05/11 오전 7:05
              </td>
            </tr>
            <tr>
              <td>
                구매시기
              </td>
              <td>
                5개월전
              </td>
            </tr>
            <tr>
              <td>
                거래지역
              </td>
              <td>
                서울
              </td>
            </tr>
            <tr>
              <td>
                판매가격
              </td>
              <td>
                20,000원
              </td>
            </tr>

          </table>
          <table style="margin:0 auto;margin-top:20px; ">
            <tr>
              <td>
                <img src="/images/communicate.png"/>
              </td>
              <td>
                <img src="/images/zzim.png"/>
              </td>
              <td>
                <img src="/images/buy_icon.png"/>
              </td>
            </tr>
          </table>
          <div class="content_box">
            <p style="color:#444444;">라코스테 pk 티 팔아요</p>
            <p style="color:#6d6d6d;">
              새거입니다. 가격 택도 그대로 달려 있어요. 하얀색이고 악어도 귀여워요 네고 사절하구요 칼거래하실분
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
