<div class="container">
  <div class="main_container">
    <div class="picture_container">
      <h4 class="tomato">제품사진</h4>
      <div class="grey_box">
        <div class="big_picture">
        </div>
        <div class="small_picture_row">
          <div class= "small_picture">
          </div>
        </div>
      </div>
    </div>
    <div class="write_container">
      <h4 class="tomato">상세내용</h4>
      <table>
        <tr>
          <td>
            <p>제품명</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            <p>판매가격</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            <p>거래방법</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            <p>희망거래지</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>

        <tr>
          <td>
            <p>카테고리</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            <p>구입시기</p>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            <p>판매글</p>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea></textarea>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
